*{
    margin:0px;
    
}
#verticle-line{
    height:70px;
    border:1px solid rgb(231, 231, 231);
}
#nav_delivery>h5{
    margin: 0px;
    font-weight: 800;
}
#nav_delivery>p{
    margin: 0px;
    font-weight: 450;
}
#nav_input_div{
    border: 1px solid #eeeeee;
    background-color: #f8f8f8;
    border-radius: 5px;
    /* padding-inline: 10px; */
    width:40vw;
    height:35px;
}
#nav_input_div>input{
    border:none;
    background-color: #f8f8f8;
    width:95%;
    height:35px;
}
#categories{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90vw;
    justify-content: space-between;
}